@media (max-width: 1371px){
    #chevron_left{
        display: none;
    }
    #chevron_right{
        display: none;
    }
}
@media (max-width: 1212px){
    #information{
        padding-left: 0px;
    }
    #info_h2{
        width: 500px;
    }

}


